#paymentDetails .flex{flex-wrap: wrap;}
.section_double .flex {
    align-items: flex-start;
}

.section_double .flex > div {
    width: 48%;
}
 
.section_double div > h3  {
    margin-top: var(--spacing-lg);
}