
.section_image {
    padding: 100px 0 90px;
    position: relative;
    overflow: hidden;
    background-image:
        linear-gradient(
            to right,
            color-mix(in srgb, var(--color-dark) 70%, transparent 0%) 0%,
            color-mix(in srgb, var(--color-dark) 35%, transparent 0%) 50%,
            transparent 100%
        ),
        url(../../assets/images/bg.avif);
    background-repeat: no-repeat, no-repeat;
    background-position: center center, center center;
    background-size: 100% 100%, cover;
    background-color: var(--color-bg-header-footer);
    color: var(--color-white);
    width: 100%!important;

    @media (min-width: 1023px) {
        padding: 150px 0 140px;
    }

    @media (min-width: 1600px) {
        padding: 220px 0 210px;
    }
}

.section_pic {
    background: url(../images/pic_1.avif) no-repeat center;
    padding: 170px 0;
    /*margin: 0 var(--spacing-lg);*/
    background-size: cover;
    width: 100%;
    position: relative;
    color: var(--color-white);
}

.section_pic::after {
    content: "";
    position: absolute;
    inset: 0;
    background: color-mix(in srgb, var(--color-dark) 50%, transparent);
    z-index: 0;
}

.section_pic > * {
    position: relative;
    z-index: 1;
}

.section_double .flex {
    align-items: flex-start;
}

.section_double .flex > div {
    width: 48%;
}

.section_double div > h3:not(:first-child) {
    margin-top: var(--spacing-lg);
}

.section_text ul {
    list-style: disc;
    line-height: var(--spacing-lg);
    margin: 26px 0 26px var(--spacing-md);
}

/* Limit single-column text blocks to 2/3 width */
.section_text .container > h2,
.section_text .container > .p_big,
.top_title p,
.section_faq > .container > p,
.section_faq .faq_open,
.footer_top > h4,
.footer_top > p:not(.copy),
.footer_single > p:not(.copy),
.single > .container > p
{
    max-width: 66.67%;
}

.section_details h3, 
.section_details h4 {
    margin-top: var(--spacing-xl);
}
@media (max-width: 767px) {
  
    
   

    .section_image {
        background: none;
        padding: 0;
    }}
