
 
.game_providers_grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
    margin-top: 25px;
    gap: 15px;
}

.pic_block img {
    width: 100%;
    border-radius: var(--radius-md);
}