
.pros_body {
    align-items: flex-start;
}

.pros_body > div {
    width: calc(50% - var(--spacing-sm));
}

.pros_body h3 {
    color: var(--color-button-text);
    font: bold var(--font-size-lg)/var(--line-height-sm) Font-Secondary, Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    background: var(--color-accent);
    padding: var(--spacing-xs) var(--spacing-md);
    margin: 0;
    border: 1px solid color-mix(in srgb, var(--color-accent-2) 25%, transparent);
}

.pros_body ul li {
    color: var(--color-white);
    margin-top: 1px;
    font: bold var(--font-size-md)/var(--line-height-xs) Font-Base, Arial, Helvetica, sans-serif;
    padding: var(--spacing-sm) var(--spacing-md);
    position: relative;
}

.div_pros li {
    background: green;
}

.div_cons li {
    background: red;
}


@media (max-width: 1023px) {
 

    .pros_body {
        display: block;
    }

    .pros_body > div {
        width: 100%;
    }

    .div_cons {
        margin-top: var(--spacing-md);
    }}