 

:root {
  --faq-color: #fff;
  --faq-border: 1px solid #0edbf6;
  --faq-color-active: #fbca41;
}

.faqBlock__list {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 30px;
  gap: 15px;
}

.faqBlock__listItem {
  overflow: hidden;
  width: 100%;
  position: relative;
  border: none;
  cursor: pointer;
  padding: 12px 16px;
  border: var(--faq-border);
  border-radius: 4px;
  transition: all 0.3s linear;
}

.faqBlock__listItem:hover {
  border-color: var(--faq-color-active);
}

.faqBlock__listItem-active {
  border-color: var(--faq-color-active);
}

.faqBlock__listItemTitle {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--faq-color);
  font-weight: 500;
  transition: .25s color;
}

.faqBlock__listItemTitle h4 {
  font-size: 18px;
  margin: 0;
  font-weight: 400;
  transition: all 0.3s linear;
}

.faqBlock__listItemActive h4,.faqBlock__listItem:hover h4 {
  color: var(--faq-color-active);
}

.faqBlock__listItemTitle span::after {
  content: '\f107';
  font-family: "FontAwesome", sans-serif;
  font-size: 35px;
}
 
.faqBlock__listItemTitleDesc {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.faqBlock__listItemTitleDesc p {
  padding: 16px 28px;
  text-align: left;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.12;
  margin: 0;
}
