.ul_details {
  flex-wrap: wrap;
  margin-top: var(--spacing-lg);
  gap: 10px;
}

.ul_details li {
  width: calc(33% - 5px);
  font:
    bold var(--font-size-md)/var(--line-height-sm) Font-Base,
    Arial,
    Helvetica,
    sans-serif;
  text-transform: uppercase;
}

.ul_details li span {
  display: block;
  font:
    bold var(--font-size-sm)/var(--line-height-xs) Font-Base,
    Arial,
    Helvetica,
    sans-serif;
  letter-spacing: -0.02em;
  margin-bottom: var(--spacing-xs);
  text-transform: none;
}

@media (max-width: 767px) {
  .ul_details li {
    width: 100%;
  }
}
