.section_text .container > h2, .section_text .container > .p_big, .top_title p, .section_faq > .container > p, .section_faq .faq_open, .footer_top > h4, .footer_top > p:not(.copy), .footer_single > p:not(.copy), .single > .container > p {
    max-width: 66.67%;
}

.p_big {
    font: normal var(--font-size-sm) / var(--line-height-sm) Font-Base, sans-serif;
}

.container {
   text-align: left;
}