
.fixed_bottom {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: var(--z-header);
    /* background: var(--color-dark); */
    /* padding: var(--spacing-sm) 0; */
    /* box-shadow: 0 -4px 12px rgba(0, 0, 0, 0.4); */
    transform: translateY(100%);
    opacity: 0;
    transition: transform 1500ms cubic-bezier(0.22, 1, 0.36, 1), opacity 1500ms cubic-bezier(0.22, 1, 0.36, 1);
}

@media (max-width:767px) {
   
    .fixed_bottom p {
        display: none;
    }
}